/* COLOR PALETTE
https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
#E63946 - IMPERIAL RED
#343434 - dark gray - almost black
#F1FAEE - HONEYDEW
#A8DADC - POWDER BLUE
#457B9D - CELADON BLUE
#1D3557 - PRUSSIAN BLUE
#F7FFF7 - ALMOST WHITE
*/

/* Global styles
-------------------------------------- */
body{
    color: #343434 ;
}
img {
    width: 300px;
}
a{
    color: #E63946;     
}
a:hover{
    text-decoration: none;
}

/* Profile 
----------------------------------------- */
header{
    background: #1D3557;
    color: #F1FAEE;
}

/* Projects 
------------------------------------------- */
.projects{
    background: #A8DADC;
}
.projects a {
    color: #1D3557;
}
.projects .btn{
    color: #F7FFF7;
    background: #457B9D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover{
    background: rgba(29, 53, 87, 80%);
}

/* Work Experience 
------------------------------------------ */
.work-experience{
    background: #457B9D;
}


/* Volunteer Experience 
------------------------------------------ */
.volunteer-experience{
    background: #F1FAEE;
    color: #343434;
}

/* Eduction
----------------------------------------- */

/* Contact Info
--------------------------------------------- */
footer{
    background: #343434;
    color: #F7FFF7;
}
footer a{
    color: #F7FFF7;
    background: #457B9D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
footer a:hover{
    background: rgba(29, 53, 87, 80%);
}